body {
font-family: Arial,
sans-serif;
margin: 20px;
}
#categories-block div, #items-block div {
border: 1px solid #ccc;
padding: 10px;
margin: 10px;
cursor: pointer;
}
img {
display: block;
margin-bottom: 10px;
}
button {
padding: 10px 20px;
margin: 5px;
cursor: pointer;
}